# 忽略大型二进制文件
neko-status/release/*.tar.gz
neko-status/build/
static/neko-status
node_modules/
*.log
.DS_Store
dstatus/

# Ignore database files
data/db.db
*.db

# Ignore common binary files
*.exe
*.out
*.o
*.so
*.dll

# Ignore common logs
*.log

# Ignore cache and temporary files
.DS_Store
.cache/
tmp/
.tmp/
