{# 根据国家代码显示对应的国旗图标 #}
{%- macro get_flag(country_code, flag_url, use_icon) -%}
    {%- if not use_icon and flag_url -%}
        <img src="{{ flag_url }}" alt="{{ country_code }}" class="flag-img" title="{{ country_code }}" onerror="this.style.display='none'; var icon = document.createElement('i'); icon.className='material-icons md-14'; icon.title='Flag loading failed'; icon.textContent='help_outline'; this.parentNode.appendChild(icon);">
    {%- else -%}
        {# 使用Material Icons字体图标 #}
        {%- if country_code == "LO" -%}
            <i class="material-icons md-14" title="本地网络">home</i>
        {%- elif country_code == "OT" -%}
            <i class="material-icons md-14" title="其他网络">public</i>
        {%- else -%}
            <i class="material-icons md-14" title="未知国家">help_outline</i>
        {%- endif -%}
    {%- endif -%}
{%- endmacro -%}

{# 获取国旗URL - 只使用新的数据结构 #}
{%- if node and node.data and node.data.location and node.data.location.code -%}
    {%- set country_code = node.data.location.code -%}
    {%- set flag_url = node.data.location.flag -%}

    {# 特殊情况处理 #}
    {%- if country_code == "LO" or country_code == "OT" or not country_code or country_code == "--" -%}
        {{ get_flag(country_code, null, true) }}
    {%- elif country_code == "UK" -%}
        {{ get_flag(country_code, "/img/flags/GB.SVG", false) }}
    {%- else -%}
        {{ get_flag(country_code, "/img/flags/" + country_code + ".SVG", false) }}
    {%- endif -%}
{%- else -%}
    {{ get_flag("unknown", null, true) }}
{%- endif -%}
