{# 根据国家代码显示对应的国旗图标 #}
{%- macro get_flag(country_code) -%}
    {%- if country_code == "CN" -%}
        🇨🇳
    {%- elif country_code == "HK" -%}
        🇭🇰
    {%- elif country_code == "TW" -%}
        🇹🇼
    {%- elif country_code == "JP" -%}
        🇯🇵
    {%- elif country_code == "KR" -%}
        🇰🇷
    {%- elif country_code == "SG" -%}
        🇸🇬
    {%- elif country_code == "US" -%}
        🇺🇸
    {%- elif country_code == "CA" -%}
        🇨🇦
    {%- elif country_code == "UK" or country_code == "GB" -%}
        🇬🇧
    {%- elif country_code == "DE" -%}
        🇩🇪
    {%- elif country_code == "FR" -%}
        🇫🇷
    {%- elif country_code == "AU" -%}
        🇦🇺
    {%- elif country_code == "RU" -%}
        🇷🇺
    {%- elif country_code == "UA" -%}
        🇺🇦
    {%- elif country_code == "BR" -%}
        🇧🇷
    {%- elif country_code == "IN" -%}
        🇮🇳
    {%- elif country_code == "ZA" -%}
        🇿🇦
    {%- elif country_code == "CL" -%}
        🇨🇱
    {%- elif country_code == "LO" -%}
        🏠
    {%- elif country_code == "OT" -%}
        🌍
    {%- else -%}
        🌎
    {%- endif -%}
{%- endmacro -%}

{{ get_flag(code) }}
